.container{width:100%; display:table; vertical-align:middle; height:100%;}
.subContainer{display:table-cell; vertical-align:middle;}
.formbox{max-width:950px;  margin:0px auto;}
.formrow{background: #fff; padding:5px; margin-bottom: 5px; width: 100%; float: left; position: relative; padding-left:200px; padding-right: 180px;}
.formrow label{position: absolute; left:10px; top:11px; font-weight: bold; color: #0E3B5A;}
.formrow .inputbox{width: 100%; border:0px; padding:3px 10px; color: #0E3B5A;}
.buttonsub{width: 100%; text-align: center; float: left; margin-top:10px;}
.buttonsub .buttonformbox{ margin-bottom:10px;display: inline-block; text-decoration: none; text-transform: uppercase; background:#F4AA6C; color: #fff; padding:12px 45px; -webkit-border-radius:40px; -moz-border-radius:40px; -khtml-border-radius:40px; border-radius:40px; border:0px; cursor: pointer; min-width: 350px;}

.chartContainerBox {width: 100%; float: left;}
.chartContainerBox canvas{width:800px !important;}